<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Counter</key>
	<integer>2</integer>
	<key>KnownNetworks</key>
	<dict>
		<key>wifi.ssid.&lt;476f6f67 6c652053 74617262 75636b73&gt;</key>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>BSSIDList</key>
			<array>
				<dict>
					<key>LEAKY_AP_BSSID</key>
					<string>9c:1c:12:23:86:e8</string>
					<key>LEAKY_AP_LEARNED_DATA</key>
					<data>
					AAAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAA
					</data>
				</dict>
			</array>
			<key>Captive</key>
			<true/>
			<key>ChannelHistory</key>
			<array>
				<dict>
					<key>Channel</key>
					<integer>36</integer>
					<key>Timestamp</key>
					<date>2016-10-30T02:21:09Z</date>
				</dict>
				<dict>
					<key>Channel</key>
					<integer>40</integer>
					<key>Timestamp</key>
					<date>2016-10-30T00:58:57Z</date>
				</dict>
			</array>
			<key>Closed</key>
			<false/>
			<key>CollocatedGroup</key>
			<array/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2016-10-30T02:21:09Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PersonalHotspot</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>RoamingProfileType</key>
			<string>Single</string>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			R29vZ2xlIFN0YXJidWNrcw==
			</data>
			<key>SSIDString</key>
			<string>Google Starbucks</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
		<key>wifi.ssid.&lt;53746172 6275636b 73205769 4669&gt;</key>
		<dict>
			<key>AutoLogin</key>
			<false/>
			<key>Captive</key>
			<true/>
			<key>ChannelHistory</key>
			<array>
				<dict>
					<key>Channel</key>
					<integer>1</integer>
					<key>Timestamp</key>
					<date>2016-10-28T03:28:14Z</date>
				</dict>
			</array>
			<key>Closed</key>
			<false/>
			<key>CollocatedGroup</key>
			<array/>
			<key>Disabled</key>
			<false/>
			<key>LastConnected</key>
			<date>2016-10-28T03:28:14Z</date>
			<key>Passpoint</key>
			<false/>
			<key>PersonalHotspot</key>
			<false/>
			<key>PossiblyHiddenNetwork</key>
			<false/>
			<key>RoamingProfileType</key>
			<string>Dual</string>
			<key>SPRoaming</key>
			<false/>
			<key>SSID</key>
			<data>
			U3RhcmJ1Y2tzIFdpRmk=
			</data>
			<key>SSIDString</key>
			<string>Starbucks WiFi</string>
			<key>SecurityType</key>
			<string>Open</string>
			<key>SystemMode</key>
			<true/>
			<key>TemporarilyDisabled</key>
			<false/>
		</dict>
	</dict>
	<key>PreferredOrder</key>
	<array>
		<string>wifi.ssid.&lt;476f6f67 6c652053 74617262 75636b73&gt;</string>
		<string>wifi.ssid.&lt;53746172 6275636b 73205769 4669&gt;</string>
	</array>
	<key>UpdateHistory</key>
	<array>
		<dict>
			<key>Previous</key>
			<dict/>
			<key>Timestamp</key>
			<date>2016-10-28T00:31:17Z</date>
		</dict>
	</array>
	<key>Version</key>
	<integer>2200</integer>
</dict>
</plist>
