<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSPackageExtensions</key>
	<array>
		<string>bundle</string>
		<string>p7</string>
		<string>photoslibrary</string>
		<string>ibooks</string>
		<string>key</string>
		<string>dylib</string>
		<string>dist</string>
		<string>numbers-tef</string>
		<string>iba</string>
		<string>photo booth</string>
		<string>dvdmedia</string>
		<string>mdimporter</string>
		<string>ppp</string>
		<string>rtfd</string>
		<string>pkg</string>
		<string>component</string>
		<string>ssdownload</string>
		<string>kext</string>
		<string>ccl</string>
		<string>pkpass</string>
		<string>p10</string>
		<string>p7b</string>
		<string>aplibrary</string>
		<string>saver</string>
		<string>ite</string>
		<string>definition</string>
		<string>ibatemplate</string>
		<string>spreporter</string>
		<string>suggestionsassets</string>
		<string>p12</string>
		<string>app</string>
		<string>service</string>
		<string>networkconnect</string>
		<string>icbu</string>
		<string>fs</string>
		<string>cmm</string>
		<string>band</string>
		<string>imovielibrary</string>
		<string>dsclext</string>
		<string>appex</string>
		<string>psdownload</string>
		<string>scptd</string>
		<string>itlb</string>
		<string>key-tef</string>
		<string>wdgt</string>
		<string>help</string>
		<string>abbu</string>
		<string>pfx</string>
		<string>pluginkit</string>
		<string>action</string>
		<string>clr</string>
		<string>keychain</string>
		<string>theater</string>
		<string>dictionary</string>
		<string>aplmodel</string>
		<string>loginplugin</string>
		<string>ichattransfer</string>
		<string>gbproj</string>
		<string>workflow</string>
		<string>monitorpanel</string>
		<string>cannedsearch</string>
		<string>hvpl</string>
		<string>booktemplate</string>
		<string>template</string>
		<string>xpc</string>
		<string>wflow</string>
		<string>download</string>
		<string>distz</string>
		<string>migratedaplibrary</string>
		<string>mkext</string>
		<string>caction</string>
		<string>itlp</string>
		<string>pkcs12</string>
		<string>numbers</string>
		<string>logarchive</string>
		<string>seplugin</string>
		<string>internetconnect</string>
		<string>nmbtemplate</string>
		<string>slidesaver</string>
		<string>pages</string>
		<string>prefpane</string>
		<string>mpkg</string>
		<string>p7m</string>
		<string>book</string>
		<string>migratedphotolibrary</string>
		<string>sparsebundle</string>
		<string>avchd</string>
		<string>ilmbplugin</string>
		<string>dsym</string>
		<string>pem</string>
		<string>colorpicker</string>
		<string>webplugin</string>
		<string>menu</string>
		<string>epub</string>
		<string>qtpxcomposition</string>
		<string>pages-tef</string>
		<string>lpdf</string>
		<string>dbwidget</string>
		<string>photolibrary</string>
		<string>appdownload</string>
		<string>osax</string>
		<string>kth</string>
		<string>kextcache</string>
		<string>qlgenerator</string>
		<string>p7r</string>
		<string>messagestransfer</string>
		<string>pvt</string>
		<string>plugin</string>
		<string>mailstationery</string>
		<string>p7s</string>
	</array>
</dict>
</plist>
