<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cplink</string>
	<string>textexpandersettings</string>
	<string>bbpackage</string>
	<string>iwork-tmp</string>
	<string>ulysses</string>
	<string>cptext</string>
	<string>cpimage</string>
	<string>_ultheme</string>
	<string>cbaccounts</string>
	<string>ulproject</string>
	<string>fcarch</string>
	<string>gstencil</string>
	<string>soundhoundbookmark</string>
	<string>bentotemplate</string>
	<string>scd</string>
	<string>ofocus-archive</string>
	<string>mproject</string>
	<string>cpweb</string>
	<string>playgroundbook</string>
	<string>logarchive</string>
	<string>tka</string>
	<string>gtemplate</string>
	<string>qvnote</string>
	<string>_ulstyle</string>
	<string>xcodeproj</string>
	<string>tkp</string>
	<string>pxm</string>
	<string>goodnotes</string>
	<string>mindproj</string>
	<string>rgd</string>
	<string>scriv</string>
	<string>graffle</string>
	<string>studydeck</string>
	<string>emberbackup</string>
	<string>embersnap</string>
	<string>storyboardc</string>
	<string>textexpanderbackup</string>
	<string>scene</string>
	<string>appex</string>
	<string>ofocus</string>
	<string>nbn</string>
	<string>textexpanderlocal</string>
	<string>booktemplate</string>
	<string>soundhoundhistory</string>
	<string>book</string>
	<string>mindnode</string>
	<string>card</string>
	<string>neunote</string>
	<string>embermdbackup</string>
	<string>opvault</string>
	<string>pzdoc</string>
	<string>ooxsl</string>
	<string>bbprojectd</string>
	<string>whink</string>
	<string>nmbtemplate</string>
	<string>ofocus-backup</string>
	<string>dayone</string>
	<string>gdiagramstyle</string>
	<string>oo3</string>
	<string>itmsp</string>
	<string>ofocus-perspective</string>
	<string>lslibrary</string>
	<string>tkv</string>
	<string>mdlabels</string>
	<string>gbproj</string>
	<string>oo3template</string>
	<string>playground</string>
	<string>epub</string>
	<string>qvlibrary</string>
	<string>scn</string>
	<string>dsym</string>
	<string>ccc</string>
	<string>lrdata</string>
	<string>xcworkspace</string>
	<string>textexpanderalias</string>
	<string>qvnotebook</string>
</array>
</plist>
