<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101139</key>
	<dict>
		<key>name</key>
		<string>com.apple.wifi.WiFiAgent:WiFiDebug</string>
	</dict>
	<key>102431</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>102715</key>
	<dict>
		<key>name</key>
		<string>com.apple.sharingd:SDStatusMonitor::SMBPreferences</string>
	</dict>
	<key>103963</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:CaptivePrefs</string>
	</dict>
	<key>105735</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:EAPOLMonitor</string>
	</dict>
	<key>105999</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:EAPOLControlPrefs</string>
	</dict>
	<key>107019</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:com.apple.FontRegistry</string>
	</dict>
	<key>107415</key>
	<dict>
		<key>name</key>
		<string>com.apple.imagent:com.apple.messagingagent</string>
	</dict>
	<key>107531</key>
	<dict>
		<key>name</key>
		<string>CommCenter:com.apple.CommCenter:SCDisconnectCallBack</string>
	</dict>
	<key>10759</key>
	<dict>
		<key>name</key>
		<string>com.apple.powerd:powerd</string>
	</dict>
	<key>107787</key>
	<dict>
		<key>name</key>
		<string>CommCenter:com.apple.CommCenter:SCDisconnectCallBack</string>
	</dict>
	<key>108379</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCMonitor</string>
	</dict>
	<key>108815</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/secd:com.apple.securityd.cloudcircleserver</string>
	</dict>
	<key>109615</key>
	<dict>
		<key>name</key>
		<string>com.apple.identityservicesd:com.apple.IDSAppleRegistrationController</string>
	</dict>
	<key>111123</key>
	<dict>
		<key>name</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER):com.apple.wifivelocityd.eap8021X-en0</string>
	</dict>
	<key>112003</key>
	<dict>
		<key>name</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER):com.apple.wifivelocityd.eap8021X-awdl0</string>
	</dict>
	<key>112159</key>
	<dict>
		<key>name</key>
		<string>com.apple.nsurlsessiond:com.apple.nsurlsessiond</string>
	</dict>
	<key>11271</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.trigger</string>
	</dict>
	<key>114367</key>
	<dict>
		<key>name</key>
		<string>org.mozilla.plugincontainer:Mozilla</string>
	</dict>
	<key>114579</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:(null)</string>
	</dict>
	<key>115791</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarAgent:com.apple.mail</string>
	</dict>
	<key>117111</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:com.apple.FontServer</string>
	</dict>
	<key>117647</key>
	<dict>
		<key>name</key>
		<string>$(CFBundleIdentifier):com.apple.iCloudHelper</string>
	</dict>
	<key>117791</key>
	<dict>
		<key>changedKeys</key>
		<array>
			<string>State:/Users/ConsoleUser</string>
		</array>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:ATSServer</string>
	</dict>
	<key>11795</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/diskarbitrationd:com.apple.DiskArbitration.diskarbitrationd</string>
	</dict>
	<key>118043</key>
	<dict>
		<key>name</key>
		<string>com.apple.identityservicesd:NEVirtualInterface Helper Session</string>
		<key>sessionKeys</key>
		<array>
			<string>State:/Network/Service/97FA49A4-B9B5-4C6E-A78A-6C64CA51F359</string>
			<string>State:/Network/Service/97FA49A4-B9B5-4C6E-A78A-6C64CA51F359/IPv6</string>
		</array>
	</dict>
	<key>118327</key>
	<dict>
		<key>name</key>
		<string>com.apple.imfoundation.IMRemoteURLConnectionAgent:com.apple.messagingagent</string>
	</dict>
	<key>119363</key>
	<dict>
		<key>name</key>
		<string>com.apple.imfoundation.IMRemoteURLConnectionAgent:com.apple.messagingagent</string>
	</dict>
	<key>120843</key>
	<dict>
		<key>name</key>
		<string>com.apple.gamed:com.apple.gamekitservices.GKNATObserver.0x7f9bcc65a230</string>
	</dict>
	<key>121687</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarNotification.CalNCService:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>122391</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarNotification.CalNCService:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>122899</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarNotification.CalNCService:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>124007</key>
	<dict>
		<key>name</key>
		<string>com.apple.locationd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>124303</key>
	<dict>
		<key>name</key>
		<string>com.apple.AssetCacheLocatorService:com.apple.AssetCacheLocatorService.network-watcher</string>
	</dict>
	<key>124691</key>
	<dict>
		<key>name</key>
		<string>com.apple.finder:watchForComputerNameChanges</string>
	</dict>
	<key>124991</key>
	<dict>
		<key>name</key>
		<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd:ATSServer</string>
	</dict>
	<key>127227</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>128615</key>
	<dict>
		<key>name</key>
		<string>com.apple.cloudd:CloudKit</string>
	</dict>
	<key>128867</key>
	<dict>
		<key>name</key>
		<string>org.mozilla.firefox:AddIPAddressListChangeCallbackSCF</string>
	</dict>
	<key>131435</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/ApplicationFirewall/socketfilterfw:alf</string>
	</dict>
	<key>131743</key>
	<dict>
		<key>name</key>
		<string>/usr/sbin/scutil:scutil</string>
	</dict>
	<key>14339</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:InterfaceNamer</string>
	</dict>
	<key>14599</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.searchpath.publish</string>
	</dict>
	<key>15111</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd</string>
	</dict>
	<key>18179</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:Kernel Event Monitor plug-in</string>
	</dict>
	<key>18691</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:Link Configuraton plug-in</string>
	</dict>
	<key>19459</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:PreferencesMonitor.bundle</string>
	</dict>
	<key>19971</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:PreferencesMonitor.bundle</string>
	</dict>
	<key>20995</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:EAPOLControlPrefs</string>
	</dict>
	<key>22543</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.plistfile</string>
	</dict>
	<key>22815</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/kextd:com.apple.KernelExtensionServer</string>
	</dict>
	<key>23571</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/opendirectoryd:com.apple.opendirectoryd.modules.SystemCache</string>
	</dict>
	<key>24091</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPMonitorControlPrefs</string>
	</dict>
	<key>26115</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPMonitor</string>
	</dict>
	<key>27139</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:set-hostname</string>
	</dict>
	<key>27907</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:smb-configuration</string>
	</dict>
	<key>30731</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPConfigurationControlPrefs</string>
	</dict>
	<key>32771</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:EAPOLController</string>
	</dict>
	<key>33539</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:SCNCController</string>
	</dict>
	<key>34563</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:PPPController</string>
	</dict>
	<key>35079</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/autofsd:(null)</string>
	</dict>
	<key>35599</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/autofsd:(null)</string>
	</dict>
	<key>36687</key>
	<dict>
		<key>name</key>
		<string>/usr/sbin/mDNSResponder:mDNSResponder:WatchForNetworkChanges</string>
	</dict>
	<key>37379</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPConfiguration.DHCPClient</string>
	</dict>
	<key>38147</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:IPConfiguration</string>
	</dict>
	<key>40435</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>40707</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:CaptivePrefs</string>
	</dict>
	<key>40963</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:com.apple.sc.networking.internetsharing.preference</string>
	</dict>
	<key>4103</key>
	<dict>
		<key>name</key>
		<string>com.apple.locationd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>41931</key>
	<dict>
		<key>name</key>
		<string>com.apple.aps.framework:com.apple.applepushservice.ConsoleUser</string>
	</dict>
	<key>45059</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:CaptiveWebSheetHandler</string>
	</dict>
	<key>45827</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:InternetSharingPrefPlugin</string>
	</dict>
	<key>46447</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:com.apple.loginwindow.SCDisconnectCallback</string>
	</dict>
	<key>47107</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:Captive</string>
		<key>sessionKeys</key>
		<array>
			<string>State:/Network/Interface/en0/CaptiveNetwork</string>
		</array>
	</dict>
	<key>48131</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:InternetSharingPrefPlugin</string>
	</dict>
	<key>52283</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:WiFiDebug</string>
	</dict>
	<key>52487</key>
	<dict>
		<key>name</key>
		<string>com.apple.blued:BlueD</string>
	</dict>
	<key>53011</key>
	<dict>
		<key>name</key>
		<string>com.apple.blued:IOBluetooth</string>
	</dict>
	<key>54403</key>
	<dict>
		<key>name</key>
		<string>com.docker.driver.amd64-linux:Docker</string>
	</dict>
	<key>56931</key>
	<dict>
		<key>name</key>
		<string>com.docker.driver.amd64-linux:Docker</string>
	</dict>
	<key>57687</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:com.apple.WorkstationPlugIn</string>
	</dict>
	<key>58451</key>
	<dict>
		<key>name</key>
		<string>com.apple.sharingd:com.apple.sharingd</string>
	</dict>
	<key>59751</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:bluetoothFramework</string>
	</dict>
	<key>60407</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:BTMMPortInUseAgent</string>
	</dict>
	<key>60947</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>61707</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/configd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>62911</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>63107</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:AirPort plug-in</string>
	</dict>
	<key>63711</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:AirPort plug-in</string>
	</dict>
	<key>64499</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/corestoraged:com.apple.corestorage.corestoraged</string>
	</dict>
	<key>64519</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>64775</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>65047</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>65799</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>66071</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>66831</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:(null)</string>
	</dict>
	<key>68467</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>68923</key>
	<dict>
		<key>name</key>
		<string>com.apple.nsurlsessiond:com.apple.nsurlsessiond</string>
	</dict>
	<key>70527</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarNotification.CalNCService:com.apple.mail</string>
	</dict>
	<key>70719</key>
	<dict>
		<key>name</key>
		<string>com.apple.system.DuetHeuristic-BM:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>71491</key>
	<dict>
		<key>name</key>
		<string>com.apple.system.DuetHeuristic-BM:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>71963</key>
	<dict>
		<key>name</key>
		<string>com.apple.system.DuetHeuristic-BM:PCInterfaceUsabilityMonitor</string>
	</dict>
	<key>72647</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/rpcsvchost:com.apple.msrpc.netlogon</string>
	</dict>
	<key>73423</key>
	<dict>
		<key>name</key>
		<string>com.apple.Safari:com.apple.Safari</string>
	</dict>
	<key>73491</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>73999</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>76027</key>
	<dict>
		<key>name</key>
		<string>com.docker.driver.amd64-linux:Docker</string>
	</dict>
	<key>76283</key>
	<dict>
		<key>name</key>
		<string>com.apple.accountsd:com.apple.mail</string>
	</dict>
	<key>76799</key>
	<dict>
		<key>name</key>
		<string>com.apple.AssetCacheLocatorService:com.apple.AssetCacheLocatorService.network-watcher</string>
	</dict>
	<key>76803</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>77859</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>78767</key>
	<dict>
		<key>name</key>
		<string>CommCenter:com.apple.CommCenter:registerForAirplaneModeNotifications</string>
	</dict>
	<key>79403</key>
	<dict>
		<key>name</key>
		<string>com.apple.symptomsd:com.apple.symptomsd</string>
	</dict>
	<key>80591</key>
	<dict>
		<key>name</key>
		<string>com.apple.cloudpaird:bluetoothFramework</string>
	</dict>
	<key>81463</key>
	<dict>
		<key>name</key>
		<string>com.apple.CalendarAgent:com.apple.mail</string>
	</dict>
	<key>81759</key>
	<dict>
		<key>name</key>
		<string>com.apple.TelephonyUtilities:com.apple.mail</string>
	</dict>
	<key>81939</key>
	<dict>
		<key>name</key>
		<string>com.apple.sharingd:com.apple.mail</string>
	</dict>
	<key>82727</key>
	<dict>
		<key>name</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER):com.apple.wifivelocityd.networkservice-en0</string>
	</dict>
	<key>82967</key>
	<dict>
		<key>name</key>
		<string>/usr/libexec/UserEventAgent:SCUserEvents</string>
	</dict>
	<key>85207</key>
	<dict>
		<key>name</key>
		<string>org.mozilla.firefox:Mozilla</string>
	</dict>
	<key>86031</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>86543</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>87647</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>87819</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>89387</key>
	<dict>
		<key>name</key>
		<string>com.apple.soagent:com.apple.mail</string>
	</dict>
	<key>90655</key>
	<dict>
		<key>name</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER):com.apple.wifivelocityd.networkinterface-awdl0</string>
	</dict>
	<key>91007</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:WiFiDebug</string>
	</dict>
	<key>91267</key>
	<dict>
		<key>name</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER):com.apple.wifivelocityd.networkinterface-en0</string>
	</dict>
	<key>92351</key>
	<dict>
		<key>name</key>
		<string>/usr/sbin/netbiosd:com.apple.netbiosd</string>
		<key>sessionKeys</key>
		<array>
			<string>State:/Network/NetBIOS</string>
		</array>
	</dict>
	<key>92427</key>
	<dict>
		<key>name</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER):com.apple.wifivelocityd.network-global</string>
	</dict>
	<key>93131</key>
	<dict>
		<key>name</key>
		<string>com.apple.WebKit.WebContent:com.apple.WebCore</string>
	</dict>
	<key>93539</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>93783</key>
	<dict>
		<key>name</key>
		<string>com.apple.symptomsd:com.apple.symptoms.analytics</string>
	</dict>
	<key>93995</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>94331</key>
	<dict>
		<key>name</key>
		<string>com.apple.WiFiProxy:WiFiDebug</string>
	</dict>
	<key>94735</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:AirPort plug-in</string>
	</dict>
	<key>95259</key>
	<dict>
		<key>name</key>
		<string>com.apple.systemuiserver:WiFiDebug</string>
	</dict>
	<key>95743</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:MCXloginPlugin</string>
	</dict>
	<key>97703</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:ALSPlugin</string>
	</dict>
	<key>98391</key>
	<dict>
		<key>name</key>
		<string>com.apple.airport.airportd:com.apple.framework.CoreWLAN</string>
	</dict>
	<key>99223</key>
	<dict>
		<key>name</key>
		<string>/System/Library/CoreServices/Software%20Update.app/Contents/Resources/softwareupdated:com.apple.WebCore</string>
	</dict>
	<key>99999</key>
	<dict>
		<key>name</key>
		<string>com.apple.loginwindow:TISLogoutNotification</string>
	</dict>
</dict>
</plist>
