<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kerberos.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwBdDH9p/AAA=
		</data>
		<array>
			<integer>72647</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcKxxH9p/AAA=
		</data>
		<array>
			<integer>38147</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+/AirPort</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIdgH9p/AAA=
		</data>
		<array>
			<integer>18691</integer>
		</array>
		<string>Setup:/Network/Interface/en0/AirPort</string>
	</array>
	<key>Setup:/Network/Interface/[^/]+/EAPOL</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8AlxH9p/AAA=
		</data>
		<array>
			<integer>32771</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+/Ethernet</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMIpgH9p/AAA=
		</data>
		<array>
			<integer>18691</integer>
		</array>
	</array>
	<key>Setup:/Network/Interface/[^/]+/FireWire</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAII1gH9p/AAA=
		</data>
		<array>
			<integer>18691</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/(null)/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAoG10H9p/AAA=
		</data>
		<array>
			<integer>127227</integer>
			<integer>68467</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/(null)/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAMHF0H9p/AAA=
		</data>
		<array>
			<integer>127227</integer>
			<integer>68467</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcEVVH9p/AAA=
		</data>
		<array>
			<integer>76803</integer>
			<integer>87819</integer>
		</array>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv4</string>
	</array>
	<key>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEtVH9p/AAA=
		</data>
		<array>
			<integer>76803</integer>
			<integer>87819</integer>
		</array>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv6</string>
	</array>
	<key>Setup:/Network/Service/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAILVAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>73999</integer>
			<integer>86543</integer>
			<integer>87647</integer>
			<integer>93995</integer>
		</array>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D</string>
		<string>Setup:/Network/Service/E36E168B-BAA9-498E-B770-7A0817735385</string>
		<string>Setup:/Network/Service/A74C5F89-35C5-44E7-8631-854F7F0FCCD4</string>
		<string>Setup:/Network/Service/F4207EAF-B942-4256-BE39-B02F8F3D001B</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/6to4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC1RH9p/AAA=
		</data>
		<array>
			<integer>38147</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/DNS</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQKBAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>33539</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/IPSec</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkFZxH9p/AAA=
		</data>
		<array>
			<integer>33539</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJZAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>33539</integer>
			<integer>38147</integer>
		</array>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv4</string>
		<string>Setup:/Network/Service/E36E168B-BAA9-498E-B770-7A0817735385/IPv4</string>
		<string>Setup:/Network/Service/A74C5F89-35C5-44E7-8631-854F7F0FCCD4/IPv4</string>
		<string>Setup:/Network/Service/F4207EAF-B942-4256-BE39-B02F8F3D001B/IPv4</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8JtAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>33539</integer>
			<integer>38147</integer>
		</array>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv6</string>
		<string>Setup:/Network/Service/E36E168B-BAA9-498E-B770-7A0817735385/IPv6</string>
		<string>Setup:/Network/Service/A74C5F89-35C5-44E7-8631-854F7F0FCCD4/IPv6</string>
		<string>Setup:/Network/Service/F4207EAF-B942-4256-BE39-B02F8F3D001B/IPv6</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/Interface</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4KFQH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>32771</integer>
			<integer>33539</integer>
			<integer>38147</integer>
			<integer>61707</integer>
			<integer>124007</integer>
		</array>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/Interface</string>
		<string>Setup:/Network/Service/A74C5F89-35C5-44E7-8631-854F7F0FCCD4/Interface</string>
		<string>Setup:/Network/Service/E36E168B-BAA9-498E-B770-7A0817735385/Interface</string>
		<string>Setup:/Network/Service/F4207EAF-B942-4256-BE39-B02F8F3D001B/Interface</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/Modem</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsE9xH9p/AAA=
		</data>
		<array>
			<integer>33539</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/PPP</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQLpAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>33539</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/Proxies</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUKdAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
		<string>Setup:/Network/Service/A74C5F89-35C5-44E7-8631-854F7F0FCCD4/Proxies</string>
		<string>Setup:/Network/Service/E36E168B-BAA9-498E-B770-7A0817735385/Proxies</string>
		<string>Setup:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/Proxies</string>
		<string>Setup:/Network/Service/F4207EAF-B942-4256-BE39-B02F8F3D001B/Proxies</string>
	</array>
	<key>Setup:/Network/Service/[^/]+/SMB</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEKNAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
	</array>
	<key>Setup:/Network/Service/[^/]+/VPN</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAELtAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>33539</integer>
		</array>
	</array>
	<key>State:/Network/Global/DNS</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4DxWH9p/AAA=
		</data>
		<array>
			<integer>117647</integer>
			<integer>76283</integer>
			<integer>70527</integer>
			<integer>81759</integer>
			<integer>81939</integer>
			<integer>81463</integer>
			<integer>89387</integer>
			<integer>56931</integer>
		</array>
		<string>State:/Network/Global/DNS</string>
	</array>
	<key>State:/Network/Global/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMIt0H9p/AAA=
		</data>
		<array>
			<integer>107019</integer>
			<integer>124991</integer>
			<integer>76283</integer>
			<integer>70527</integer>
			<integer>81759</integer>
			<integer>81939</integer>
			<integer>81463</integer>
			<integer>89387</integer>
		</array>
		<string>State:/Network/Global/IPv4</string>
	</array>
	<key>State:/Network/Global/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUC50H9p/AAA=
		</data>
		<array>
			<integer>107019</integer>
			<integer>76283</integer>
			<integer>70527</integer>
			<integer>81759</integer>
			<integer>81939</integer>
			<integer>81463</integer>
			<integer>89387</integer>
		</array>
	</array>
	<key>State:/Network/Global/Proxies</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4BR1H9p/AAA=
		</data>
		<array>
			<integer>56931</integer>
		</array>
		<string>State:/Network/Global/Proxies</string>
	</array>
	<key>State:/Network/Interface</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkHtiH9p/AAA=
		</data>
		<array>
			<integer>108379</integer>
		</array>
		<string>State:/Network/Interface</string>
	</array>
	<key>State:/Network/Interface/[^/]+/ActiveDuringSleepRequested</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcE5xH9p/AAA=
		</data>
		<array>
			<integer>38147</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/AirPort</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkFpxH9p/AAA=
		</data>
		<array>
			<integer>33539</integer>
			<integer>38147</integer>
			<integer>36687</integer>
		</array>
		<string>State:/Network/Interface/en0/AirPort</string>
	</array>
	<key>State:/Network/Interface/[^/]+/EAPOL</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkFVRH9p/AAA=
		</data>
		<array>
			<integer>45827</integer>
			<integer>105735</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMHdQH9p/AAA=
		</data>
		<array>
			<integer>15111</integer>
			<integer>36687</integer>
			<integer>68923</integer>
			<integer>76799</integer>
			<integer>107415</integer>
			<integer>112159</integer>
			<integer>115791</integer>
			<integer>118327</integer>
			<integer>119363</integer>
			<integer>124303</integer>
			<integer>76283</integer>
			<integer>70527</integer>
			<integer>81759</integer>
			<integer>81939</integer>
			<integer>81463</integer>
			<integer>89387</integer>
			<integer>73423</integer>
			<integer>93131</integer>
			<integer>99223</integer>
		</array>
		<string>State:/Network/Interface/lo0/IPv4</string>
		<string>State:/Network/Interface/en0/IPv4</string>
	</array>
	<key>State:/Network/Interface/[^/]+/IPv4ARPCollision.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIEJxH9p/AAA=
		</data>
		<array>
			<integer>38147</integer>
		</array>
	</array>
	<key>State:/Network/Interface/[^/]+/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgHtQH9p/AAA=
		</data>
		<array>
			<integer>15111</integer>
			<integer>38147</integer>
			<integer>36687</integer>
			<integer>68923</integer>
			<integer>76799</integer>
			<integer>112159</integer>
			<integer>120843</integer>
			<integer>124303</integer>
			<integer>76283</integer>
			<integer>70527</integer>
			<integer>81759</integer>
			<integer>81939</integer>
			<integer>81463</integer>
			<integer>89387</integer>
			<integer>73423</integer>
		</array>
		<string>State:/Network/Interface/lo0/IPv6</string>
		<string>State:/Network/Interface/utun1/IPv6</string>
		<string>State:/Network/Interface/en0/IPv6</string>
	</array>
	<key>State:/Network/Interface/[^/]+/Link</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsA5xH9p/AAA=
		</data>
		<array>
			<integer>32771</integer>
			<integer>38147</integer>
			<integer>95743</integer>
			<integer>105735</integer>
			<integer>120843</integer>
		</array>
		<string>State:/Network/Interface/en1/Link</string>
		<string>State:/Network/Interface/bridge0/Link</string>
		<string>State:/Network/Interface/en0/Link</string>
		<string>State:/Network/Interface/p2p0/Link</string>
		<string>State:/Network/Interface/awdl0/Link</string>
		<string>State:/Network/Interface/bond0/Link</string>
	</array>
	<key>State:/Network/Interface/[^/]+/RefreshConfiguration</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoDNRH9p/AAA=
		</data>
		<array>
			<integer>38147</integer>
		</array>
	</array>
	<key>State:/Network/Interface/awdl0/AirPort/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQCp0H9p/AAA=
		</data>
		<array>
			<integer>63107</integer>
		</array>
	</array>
	<key>State:/Network/Interface/en0/AirPort/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0G9zH9p/AAA=
		</data>
		<array>
			<integer>60947</integer>
			<integer>63107</integer>
			<integer>4103</integer>
		</array>
	</array>
	<key>State:/Network/Interface/en[^/]+|pdp_ip[^/]+/LinkQuality</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwK5CH9p/AAA=
		</data>
		<array>
			<integer>93783</integer>
		</array>
		<string>State:/Network/Interface/en1/LinkQuality</string>
		<string>State:/Network/Interface/en0/AirPort</string>
		<string>State:/Network/Interface/en1/Link</string>
		<string>State:/Network/Interface/en0/Link</string>
		<string>State:/Network/Interface/en0/LinkQuality</string>
		<string>State:/Network/Interface/en0/CaptiveNetwork</string>
		<string>State:/Network/Interface/en0/SleepProxyServers</string>
		<string>State:/Network/Interface/en0/IPv6</string>
		<string>State:/Network/Interface/en0/IPv4</string>
	</array>
	<key>State:/Network/Interface/p2p0/AirPort/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgFBiH9p/AAA=
		</data>
		<array>
			<integer>63107</integer>
		</array>
	</array>
	<key>State:/Network/Protocol/IPv4/PortInUse/.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMI9VH9p/AAA=
		</data>
		<array>
			<integer>60407</integer>
		</array>
	</array>
	<key>State:/Network/Service/(null)/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAUGt0H9p/AAA=
		</data>
		<array>
			<integer>127227</integer>
			<integer>68467</integer>
		</array>
	</array>
	<key>State:/Network/Service/(null)/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAYHB0H9p/AAA=
		</data>
		<array>
			<integer>127227</integer>
			<integer>68467</integer>
		</array>
	</array>
	<key>State:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0FtVH9p/AAA=
		</data>
		<array>
			<integer>76803</integer>
			<integer>87819</integer>
		</array>
		<string>State:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv4</string>
	</array>
	<key>State:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsElVH9p/AAA=
		</data>
		<array>
			<integer>76803</integer>
			<integer>87819</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0LdAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
		<string>State:/Network/Service/97FA49A4-B9B5-4C6E-A78A-6C64CA51F359</string>
	</array>
	<key>State:/Network/Service/[^/]+/DHCP</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgLJAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>27139</integer>
			<integer>63107</integer>
		</array>
		<string>State:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/DHCP</string>
	</array>
	<key>State:/Network/Service/[^/]+/DNS</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkKRAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
		<string>State:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/DNS</string>
	</array>
	<key>State:/Network/Service/[^/]+/IPSec</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUKFQH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/IPv4</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIJlAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>45827</integer>
			<integer>120843</integer>
			<integer>128867</integer>
		</array>
		<string>State:/Network/Service/8828D502-6FA4-49F5-A5D4-1F767078351D/IPv4</string>
	</array>
	<key>State:/Network/Service/[^/]+/IPv6</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQJ9AH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
			<integer>128867</integer>
		</array>
		<string>State:/Network/Service/97FA49A4-B9B5-4C6E-A78A-6C64CA51F359/IPv6</string>
	</array>
	<key>State:/Network/Service/[^/]+/PPP</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIKhQH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/Proxies</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIKtAH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/SMB</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4K9AH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
	</array>
	<key>State:/Network/Service/[^/]+/VPN</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0KhQH9p/AAA=
		</data>
		<array>
			<integer>26115</integer>
		</array>
	</array>
	<key>opendirectoryd:records;(add|delete|modify);[^;]+;(dsRecTypeStandard:Automount|dsRecTypeStandard:AutomountMap|dsRecTypeStandard:Mounts).*</key>
	<array>
		<data>
		ZfIAAAAAAAACAAAAAAAAAAAAAAAAAAAAoIJxH9p/AAA=
		</data>
		<array>
			<integer>35599</integer>
		</array>
	</array>
	<key>opendirectoryd:records;delete;/Local/Default;dsRecTypeStandard:Users.*</key>
	<array>
		<data>
		ZfIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcIJVH9p/AAA=
		</data>
		<array>
			<integer>65799</integer>
			<integer>66831</integer>
		</array>
	</array>
	<key>opendirectoryd:records;modify;/Local/Default;dsRecTypeStandard:Users;[^;]+;(dsAttrTypeStandard:AuthenticationHint|dsAttrTypeStandard:RecordName|dsAttrTypeStandard:RealName|dsAttrTypeStandard:JPEGPhoto|dsAttrTypeStandard:Picture)</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAcC9VH9p/AAA=
		</data>
		<array>
			<integer>66071</integer>
		</array>
	</array>
	<key>opendirectoryd:records;modify;/Local/Default;dsRecTypeStandard:Users;[^;]+;(dsAttrTypeStandard:NFSHomeDirectory|dsAttrTypeStandard:UniqueID|dsAttrTypeStandard:GeneratedUID)</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAkHdVH9p/AAA=
		</data>
		<array>
			<integer>64775</integer>
		</array>
	</array>
	<key>opendirectoryd:records;modify;[^;]+;dsRecTypeStandard:Users;archopposition;(dsAttrTypeStandard:RealName|dsAttrTypeStandard:RecordName|dsAttrTypeStandard:UniqueID|dsAttrTypeStandard:PrimaryGroupID|dsAttrTypeStandard:GeneratedUID|dsAttrTypeStandard:HomeDirectory|dsAttrTypeStandard:NFSHomeDirectory|dsAttrTypeStandard:Picture|dsAttrTypeStandard:JPEGPhoto)</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAO9iH9p/AAA=
		</data>
		<array>
			<integer>114579</integer>
		</array>
	</array>
	<key>opendirectoryd:search;(add|delete|online|offline);[^;]+</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAUBNVH9p/AAA=
		</data>
		<array>
			<integer>40435</integer>
		</array>
	</array>
	<key>opendirectoryd:search;(delete|online|offline);[^;]+</key>
	<array>
		<data>
		ZfIAAAAAAAABAAAAAAAAAAAAAAAAAAAAoFNBH9p/AAA=
		</data>
		<array>
			<integer>35079</integer>
		</array>
	</array>
</dict>
</plist>
